@font-face {
    font-family: 'Nexa';
    font-style: regular;
    font-weight: 400;
    src: url(NexaRegular.woff) format('woff');
  }


#app-nav {
  z-index: 999;
}

#app-doggos {
  z-index: 10;
}

#app-photos-container {
  min-width: 100px;
  /* min-height: 500px; */
  /* background-color: yellow; */
}

#app-filler {
  height: 55px;
}

#bottom-picture {
  width: 100%;
  height: 60%;
  bottom: 0;
  border: 1px solid black;
  object-fit: cover;
}