.askabout-outer {
  position: relative;
  display: inline-block;
  height: 800px;
  width: 100%;
  background: white;
  align-content: center;
  box-shadow: 2px 2px 3px 1px lightgray;
  margin-bottom: 40px;
}

.askabout-top {
  position: absolute;
  display: block;
  height: 270;
  width: 100%;
  background: #6504B5;
  /* border: 1px solid gray; */
  top: 0;
  right: 0;
  left: 0;
  align-content: center;
  text-align: center;
}


.askabout-top-upper {
  position: relative;
  display: inline-block;
  width: 85%;
  height: 60%;
  top: 0;
}

.askabout-top-title {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 160px;
  top: 50px;
  text-align: left;
  font-family: 'Nexa';
  color: white;
  font-size: 30px;
}

.askabout-top-info {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 160px;
  top: 70px;
  text-align: left;
  font-family: 'Nexa';
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}

.askabout-image {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 6px solid white;
  left: 20px;
  top: 25px;
}

.askabout-top-lower {
  display: inline-block;
  width: 85%;
  height: 40%;
  border-top: 1px solid white;
  bottom: 0;
  text-align: left;
  font-family: 'Nexa';
  line-height: 25px;
  color: white;
}

.askabout-bottom {
  position: absolute;
  display: block;
  height: 480;
  width: 100%;
  /* border: 1px solid black; */
  bottom: 50;
  left: 0;
  right: 0;
  align-content: center;
  text-align: center;
}


.askabout-bottom-left {
  position: absolute;
  display: inline-block;
  left: 8%;
  width: 43%;
  height: 95%;
  /* border: 1px solid black; */
  text-align: left;
  font-family: 'Nexa';
  font-size: 13px;
  padding: 15px;
}

.askabout-input-container {

}

.askabout-input {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 43%;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 14px;
  color: gray;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
}

.askabout-input:hover {
  border: 1px solid #6504B5;
  cursor: text;
}

.askabout-input-inside {
  border: 0;
  outline: none;
  font-size: 15px;
  font-family: 'Nexa';
  color: #6504B5;
}

.askabout-eula {
  display: inline-block;
  margin: 15px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}

.askabout-eula-checkbox {
  display: inline-block;
  background-color: white;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  border: 2px solid #6504B5;
}

.askabout-eula-checkbox:active {
   background-color: #6504B5;
}

.askabout-bottom-right {
  position: absolute;
  display: inline-block;
  right: 8%;
  width: 40%;
  height: 95%;
  padding: 15px;
  /* border: 1px solid black; */
  text-align: left;
  font-family: 'Nexa';
  font-size: 13px;
}

.askabout-smaller {
  font-size: 11px;
}

.askabout-textarea {
  height: 225px;
  width: 560px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: 'Nexa';
  font-size: 15px;
}

.askabout-havepets {
  margin-top: 40px;
  margin-left: 15px;
  color: gray;
}

.askabout-yesorno {
  position: absolute;
  display: inline-block;
  height: 65px;
  width: 270px;
  border-radius: 5px;
  border: 1px solid lightgray;
  right: 30px;
  bottom: 80px;
  color: gray;
}

.askabout-yes {
  position: absolute;
  height: 99%;
  width: 50%;
  border-right: 1px solid lightgray;
  left: 0;
  text-align: center;
  line-height: 69px;
}

.askabout-yes:hover {
  border: 1px solid #6504B5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.askabout-yes-press {
  position: absolute;
  height: 100%;
  width: 50%;
  border-right: 1px solid lightgray;
  left: 0;
  text-align: center;
  line-height: 69px;
  background-color: #6504B5;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.askabout-no {
  position: absolute;
  height: 99%;
  width: 49%;
  right: 0;
  text-align: center;
  line-height: 69px;
}

.askabout-no:hover {
  border: 1px solid #6504B5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.askabout-no-press {
  position: absolute;
  height: 100%;
  width: 50%;
  border-right: 1px solid lightgray;
  right: 0;
  text-align: center;
  line-height: 69px;
  background-color: #6504B5;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.askabout-button {
  position: absolute;
  display: inline-block;
  height: 45px;
  width: 90%;
  text-align: center;
  bottom: 10px;
  left: 30px;
  border: 1px solid black;
  line-height: 50px;
  border-radius: 45px;
  background-color: #6504B5;
  color: white;
}

.askabout-button:hover {
  background-color: rgb(72, 3, 129)
}