/* @font-face {
  font-family: 'Nexa';
  font-style: regular;
  font-weight: 400;
  src: url(fonts/NexaRegular.woff) format('woff');
  } */

.doggo-overflow-outer {
  display: inline-flex;
  position: relative;
  box-shadow: 2px 2px 5px lightgray;
  height: 300px;
  width: 236px;
  margin-top: 100px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #6504B5;
}

.doggo-overflow-top {
  position: absolute;
  height: 78%;
  width: 100%;
  top: 0;
}

.doggo-overflow-top-text {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  bottom: 10%;
  font-family: 'Nexa';
  font-weight: 100;
  font-size: 13px;
}

.doggo-overflow-paw {
  position: absolute;
  top: 26%;
  left: 36%;
  height: 35%;
  width: 30%;
}

.doggo-overflow-bot {
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0;
  border-top: 1px solid;
  text-align: center;
  color: white;
  border-color: black;
  font-size: 15px;
  font-family: 'Nexa';
  font-weight: bolder;
}

.doggo-overflow-bot-text {
  z-index: 9;
}

.doggo-overflow-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .2;
}