body {
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
  /* background-color: red; */
}


.smallSlider { 
  width: 550px;
  height: 690px; 
  filter: saturate(50%) brightness(.50);
  transition: 0.35s ease-in-out; 
}

.photoMain {
  background-color: black;
  margin-bottom: 1%;  
}

.photoContainer {
  overflow: hidden;
  margin: auto !important;
  height: 55%;
  width: 85.9%;
  /* background-color: black; */
}

.photoSlider {
  display: flex;
  width: 50%;
  height: 50%;
  transition: transform 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* object-fit: cover; */
}

.active-1 {
  /* transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  filter: saturate(100%) brightness(1);
}


.active-2 {
  /* transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  filter: saturate(100%) brightness(1);
}

.active-3 {
  filter: saturate(100%) brightness(1);
}

.active-0 {
  filter: saturate(100%) brightness(1);
}


/* img:hover {
  transition: 0.2s ease-in-out;
  filter: saturate(60%) brightness(0.6);
} */

#nextBtn {
  z-index: 10;
  border: 2px solid transparent;
  position:absolute;
  right: 134px;
  width: 537px;
  height: 520px;
  /* top: 3.1%; */
  opacity: 0.75;
  background-color: black;
  transition: 0.15s ease-in-out;
  /* filter: saturate(.1) brightness(.1); */
}

#nextBtn:hover{
  transition: 0.15s ease-in-out;
  /* filter: saturate(60%) brightness(0.6); */
  opacity: .55;
}

#prevBtn {
  z-index: 10;
  border: 2px solid transparent;
  position:absolute;
  left: 133px;
  width: 551px;
  height: 520px;
  /* top: 3.1%; */
  opacity: 0.75;
  background-color: black;
  transition: 0.15s ease-in-out;
  /* filter: saturate(.1) brightness(.1); */
}

#prevBtn:hover{
  transition: 0.15s ease-in-out;
  /* filter: saturate(60%) brightness(0.6); */
  opacity: .55;
}

#expandBtn {
  z-index: 10;
  border: 2px solid transparent;
  position:absolute;
  width: 550px;
  height: 533px;
  left: 684px;
  background-color: transparent;
}



.expandContainer {
  
  overflow: hidden;
  margin: auto;

}

.expandSlider {
  display: flex;
  width: 1100px;
  height: 1100px;
  transition: transform 130ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

img#expandImg {
  margin: auto;
  width: 50%;
  height: 50%;
  padding-left: 35%;
  padding-right: 33%;
  margin-top: 35px;
}



#btnArrowLeft {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 200px !important; 
  top:330px !important;
  opacity: 1;
}


#btnArrowLeft:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowRight {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 200px !important; 
  top:330px !important;
  opacity: 1;
}


#btnArrowRight:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

.arrowBtn {
  visibility:hidden;
}

.mainBtns:hover > .arrowBtn{
  visibility:visible;
}

#btnExpand {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/Expand+view+free+icon+5.svg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 200px;
  top:570px;
  opacity: 1;
}


#btnExpand:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/Expand+view+free+icon+5.svg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size:45%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowLeft {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 100px;
  top:180px;
  opacity: 1;
}


#btnArrowLeft:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowRight {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 100px;
  top:180px;
  opacity: 1;
}


#btnArrowRight:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowLeftExpand {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 40px;
  top:320px;
  opacity: 1;
}


#btnArrowLeftExpand:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowRightExpand {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 40px;
  top:320px;
  opacity: 1;
}


#btnArrowRightExpand:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnReturn {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/icon-close_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 40px;
  top:50px;
  opacity: 1;
}

button:focus {outline:0;}
button#btnArrowLeft:focus { outline:0 !important; box-shadow: none;}
button#btnArrowRight:focus { outline:0 !important; box-shadow: none;}
button#btnExpand:focus { outline:0 !important; box-shadow: none;}
button#btnArrowLeftExpand:focus { outline:0 !important; box-shadow: none;}
button#btnArrowRightExpand:focus { outline:0 !important; box-shadow: none;}
button#btnReturn:focus { outline:0 !important; box-shadow: none;}

.nav-top-button:hover .nav-register-icon{
  color: #6504b5;
  background: url("https://s3-us-west-1.amazonaws.com/petfinder-nav/icon-register-hover.png") no-repeat center;
  background-size:28px 30px;
}

/* [Object] Modal
 * =============================== */
 .photo-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background:black;
  transition: opacity .25s ease;
}

.photo-modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}


.photo-modal-state {
  display: none;
}

.photo-modal-state:checked + .photo-modal {
  opacity: 1;
  visibility: visible;
}

.photo-modal-state:checked + .photo-modal .photo-modal__inner {
  top: 0;
}

.photo-modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  overflow: auto;
  background: black;

  /* padding: 1em 2em; */
  height: 90%;
  /* max-width: 924px; */
}

.photo-modal__close {
  font-size: 48px;
  color: transparent;
  position: absolute;
  right: -0.2em;
  top: -0.2em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;

}

.photo-modal__close:after,
.photo-modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: transparent;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.photo-modal__close:hover:after,
.photo-modal__close:hover:before {
  background: transparent;
}

.photo-modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .photo-modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}



#photo-pop-up-main {
  display:flex;
}



.photo-modal {
  z-index: 2000;
}

#modalButton {
  color: transparent;
  opacity: 0;
  font-size:48px;
  cursor:pointer;
}